:root {
  --azul: #3b80ae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 1%;
}

.navbar li {
  list-style: none;
  font-size: x-small;
}
a {
  text-decoration: none;
  color: black;
  text-decoration-color: darkgray;
}
a:hover {
  color: darkgray;
}
h1 {
  font-size: x-large;
  text-align: center;
  text-decoration: wavy;
  margin: 20px;
}
section {
  display: flex;
  flex-direction: column;
}
article {
  text-align: center;
}
img {
  object-fit: fill;
}
h3 {
  z-index: 1;
  transform: translateY(-150px);
  color: aliceblue;
  text-shadow: 1px 2px 3px var(--azul);
}
p {
  display: none;
}

/*. MEDIA QUERYS DE TABLET*/
@media (min-width: 599px) and (max-width: 1024px) {
  .navbar li {
    font-size: small;
  }

  article {
    text-align: center;
    box-shadow: 1px 2px 3px var(--azul);
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }

  .texto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  h3 {
    z-index: 0;
    color: black;
    transform: translateY(0px);
    text-shadow: 1px 2px 3px gray;
    font-size: medium;
  }

  p {
    display: block;
    text-align: justify;
  }
}
/*. MEDIA QUERYS DE DESKTOP*/
@media (min-width: 1024px) {
  .navbar li {
    font-size: large;
  }

  .navbar ul {
    gap: 30px;
  }

  h1 {
    font-size: xx-large;
  }

  section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex:2 2 10%
  }
  article {
    max-width: 500px;
    text-align: center;
    box-shadow: 1px 2px 3px var(--azul);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  article:hover{
    animation: aparece 1s;
  }

  text {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }

  h3 {
    z-index: 0;
    color: black;
    transform: translateY(0px);
    text-shadow: 1px 2px 3px grey;
  }
  p {
    display:none;
    text-align: justify;
  }
@keyframes aparece {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article:hover p {
  display: block;
  animation: aparece 1s;
}
  
}
